@import "./tailwind.css";

:root {
	/* Bordas, linhas */
	--color-border: #3e3f4b;

	/* Texto */
	--color-text: #e3e3e3;
	--color-text-muted: #a1a1aa;

	/* Verde de destaque (ex: botões, links, ícones) */
	--color-accent: #10b981;
	/* Tailwind emerald-500 */
	--color-accent-hover: #059669;

	/* Verde adicional para ícones, gráficos, etc */
	--color-success: #22c55e;
	--color-success-dark: #15803d;

	--font-family-display: "Inter", "Segoe UI", Tahoma, Geneva, Verdana,
		sans-serif;

	/* Fonte para labels e textos menores - mais neutra e clean */
	--font-family-label: "Roboto", "Helvetica Neue", Helvetica, Arial,
		sans-serif;

	--font-weight-bold: 700;
	--font-weight-medium: 500;
	--font-weight-regular: 400;

	/* --success: #22c55e;
	--warning: #eab308;
	--error: #991b1b;
	--info: #0ea5e9; */
}
